<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954554939276-n5br1f7dr927kmrop358b5r8u9utm4gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954554939276-n5br1f7dr927kmrop358b5r8u9utm4gr</string>
	<key>API_KEY</key>
	<string>AIzaSyBzGLRohWdKAkGkRT2CrG5c14fMiOhRNyI</string>
	<key>GCM_SENDER_ID</key>
	<string>954554939276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.futibas</string>
	<key>PROJECT_ID</key>
	<string>futibas-c0723</string>
	<key>STORAGE_BUCKET</key>
	<string>futibas-c0723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954554939276:ios:1cb6e6d23b385ab8f448a9</string>
</dict>
</plist>